<div class="sb-sidenav-menu">
    <div class="nav">
        <!-- Core Section -->
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="{% url 'hospital_admin' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-hospital"></i></div>
            Hospital Dashboard
        </a>
        {% comment %} <a class="nav-link" href="">
            <div class="sb-nav-link-icon"><i class="fas fa-hospital"></i></div>
            Assign Patient
        </a> {% endcomment %}
        <!-- Core Section -->
      


    <!-- Appointment Management -->
  
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#appointmentCollapse" aria-expanded="false" aria-controls="appointmentCollapse">
        <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
        Appointments
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="appointmentCollapse" aria-labelledby="headingAppointments" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'appointment_list' %}">Create Appointment List</a>
            <a class="nav-link" href="{% url 'public_online_appointment_list' %}">Online Appointment List</a>

        </nav>
    </div>
    
        <!-- Medical Records Management -->
    
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#medicalRecordCollapse" aria-expanded="false" aria-controls="medicalRecordCollapse">
            <div class="sb-nav-link-icon"><i class="fas fa-file-medical"></i></div>
            Medical Records
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="medicalRecordCollapse" aria-labelledby="headingMedicalRecords" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{% url 'test_category_list' %}">Test Category List</a>
                <a class="nav-link" href="{% url 'report_list' %}">Add Medical Records</a>            
            </nav>
        </div>



    <!-- Patient Management -->
   
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#patientCollapse" aria-expanded="false" aria-controls="patientCollapse">
        <div class="sb-nav-link-icon"><i class="fas fa-procedures"></i></div>
        Patients
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="patientCollapse" aria-labelledby="headingPatient" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'admin_patient_register' %}">Create Patient Profile</a>
            <a class="nav-link" href="{% url 'all_patients' %}">All Patients Profile</a>
   
        </nav>
    </div>


        <!-- Doctor Management -->
      
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#doctorCollapse" aria-expanded="false" aria-controls="doctorCollapse">
            <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
            Doctors
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="doctorCollapse" aria-labelledby="headingDoctor" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{% url 'admin_doctor_register' %}">Create Doctor Profile</a>
                <a class="nav-link" href="{% url 'all_doctors' %}">View All Doctors</a>   
                <a class="nav-link" href="{% url 'department_list' %}">Department List</a>              
            </nav>
        </div>
        

        <!-- Employee Management -->
        
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#employeeCollapse" aria-expanded="false" aria-controls="employeeCollapse">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            Employees
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="employeeCollapse" aria-labelledby="headingEmployee" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{% url 'admin_employee_register' %}">Create Employee</a>
                <a class="nav-link" href="{% url 'all_employee' %}">All Employees</a>             
            </nav>
        </div>

        






        <div class="sb-sidenav-menu-heading">Hospital Information</div>
        <a class="nav-link" href="{% url 'site-info' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-cogs"></i></div>
            Site Information Update
        </a>
        <a class="nav-link" href="{% url 'carousel_list' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-images"></i></div>
            Carousel List
        </a>
        
        <a class="nav-link" href="{% url 'contact_list' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
            Contact Message
        </a>

        <a class="nav-link" href="{% url 'team_member_list' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>  <!-- Changed to 'fa-users' for team members -->
            Team Member List
        </a>
        <a class="nav-link" href="{% url 'service_list' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-cogs"></i></div>  <!-- Changed to 'fa-cogs' for services -->
            Service List
        </a>
        
        





        <!-- Role Management -->
        <div class="sb-sidenav-menu-heading">Role Management</div>
        <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#roleCollapse" aria-expanded="false" aria-controls="roleCollapse">
            <div class="sb-nav-link-icon"><i class="fas fa-user-cog"></i></div>
            Group
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
      
        <div class="collapse" id="roleCollapse" aria-labelledby="headingRole" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{% url 'create_group' %}">Create Group</a>
                <a class="nav-link" href="{% url 'manage_roles' %}">Manage Group</a>
                <a class="nav-link" href="{% url 'assign_group_to_user' %}">Assign User To Group</a>
                <a class="nav-link" href="{% url 'show_staff_superusers' %}">Show all staff & superuser</a>
               
            </nav>
        </div>
        <a class="nav-link" href="{% url 'all_users' %}">
            <div class="sb-nav-link-icon"><i class="fa fa-user-friends"></i></div>
            All User
        </a>


        <!-- Authentication Section -->
        <div class="sb-sidenav-menu-heading">Authentication</div>
        {% if user.is_authenticated %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#authUserDropdown" aria-expanded="false" aria-controls="authUserDropdown">
                <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                {{ user.username }}
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="authUserDropdown" aria-labelledby="headingAuthUser" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'admin_change_password' %}">Change Password</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </nav>
            </div>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></div>
                Login
            </a>
        {% endif %}
    </div>
</div>
