{% extends 'hospital/hospital_base.html' %}
<title>{% block title %} Sign Up Page {% endblock title %}</title>

{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-2" style="margin-bottom: 80px;">
    <div class="card p-3" style="border-radius:10px; width:100%; max-width: 400px; background: #ffffff;">
        <div class="text-center mb-3">
            <img src="{{ site_info.color_logo.url }}" alt="Logo" style="width: 190px;">
            <h4>Signup</h4>
        </div>
        
        <form id="signup-form" action="" method="post" style="margin-bottom: 0;">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% csrf_token %}
            
            <div class="form-group">
               
                    <label for="id_username" class="text-black">Username</label>
                    <input type="text" id="id_username" name="username" class="form-control" readonly>
          
                {% if form.username.errors %}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_email" class="text-black">Email</label>
                <input type="email" id="id_email" name="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" placeholder="example@gmail.com" value="{{ form.email.value|default:'' }}" required>
                {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password1" class="text-black">Password</label>
                <div class="input-group" style="position: relative;">
                    <input type="password" id="id_password1" name="password1" class="form-control{% if form.password1.errors %} is-invalid{% endif %}" placeholder="Password" style="background-color: #d3d3d3; color: black; font-size: 1.25em; padding-right: 45px;" required>
                    <span class="input-group-text" onclick="togglePasswordVisibility('id_password1', 'eye-icon1')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i id="eye-icon1" class="fas fa-eye" style="font-size: 1.25em;"></i>
                    </span>
                </div>
                {% if form.password1.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password2" class="text-black">Confirm Password</label>
                <div class="input-group" style="position: relative;">
                    <input type="password" id="id_password2" name="password2" class="form-control{% if form.password2.errors %} is-invalid{% endif %}" placeholder="Confirm Password" style="background-color: #d3d3d3; color: black; font-size: 1.25em; padding-right: 45px;" required>
                    <span class="input-group-text" onclick="togglePasswordVisibility('id_password2', 'eye-icon2')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i id="eye-icon2" class="fas fa-eye" style="font-size: 1.25em;"></i>
                    </span>
                </div>
                {% if form.password2.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password2.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <button id="signup-button" class="btn btn-danger btn-block mt-2" type="submit">
                Sign up
                <span id="signup-spinner" class="spinner-border spinner-border-sm ml-2" role="status" aria-hidden="true" style="display:none;"></span>
            </button>
        </form>
        
        
    </div>
</div>




<script>
    // Show the loading spinner and disable the submit button when the form is submitted
    document.getElementById('signup-form').addEventListener('submit', function() {
        document.getElementById('signup-spinner').style.display = 'inline-block';
        document.getElementById('signup-button').disabled = true;
    });
    
    // Toggle the visibility of the password field
    function togglePasswordVisibility(passwordFieldId, eyeIconId) {
        const passwordField = document.getElementById(passwordFieldId);
        const eyeIcon = document.getElementById(eyeIconId);
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
    
    // Automatically copy the username to password fields when the username is typed
    document.getElementById('id_username').addEventListener('input', function () {
        const username = this.value;
        if (username) {
            // Enable the password fields when the username is set
            document.getElementById('id_password1').disabled = false;
            document.getElementById('id_password2').disabled = false;
            document.getElementById('id_password1').value = username;
            document.getElementById('id_password2').value = username;
        }
    });
    
    // Fetch the generated username when the page loads and set it in the username field
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/get-generated-username/')
            .then(response => response.json())
            .then(data => {
                if (data.username) {
                    document.getElementById('id_username').value = data.username;
                    document.getElementById('id_password1').disabled = false;  // Enable password field
                    document.getElementById('id_password2').disabled = false;  // Enable password field
                    document.getElementById('id_password1').value = data.username;
                    document.getElementById('id_password2').value = data.username;
                }
            })
            .catch(error => console.error('Error fetching username:', error));
    });
    </script>

{% endblock  %}
